{
   "extends": "airbnb",
   "rules": {
      "class-methods-use-this": "off",
      "comma-dangle": "off",
      "consistent-return": "off",
      "curly": "off",
      "eqeqeq": "off",
      "func-names": "off",
      "guard-for-in": "off",
      "indent": "off",
      "keyword-spacing": "off",
      "max-classes-per-file": "off",
      "max-len": "off",
      "no-extra-semi": "off",
      "no-empty": "off",
      "no-mixed-operators": "off",
      "no-multiple-empty-lines": "off",
      "no-param-reassign": "off",
      "no-plusplus": "off",
      "no-prototype-builtins": "off",
      "no-restricted-syntax": "off",
      "no-shadow": "off",
      "no-tabs": "off",
      "no-undef": "off",
      "no-underscore-dangle": "off",
      "no-use-before-define": "off",
      "no-unused-vars": "off",
      "no-useless-escape": "off",
      "no-var": "off",
      "nonblock-statement-body-position": "off",
      "object-curly-spacing": "off",
      "object-shorthand": "off",
      "one-var": "off",
      "one-var-declaration-per-line": "off",
      "operator-assignment": "off",
      "operator-linebreak": "off",
      "padded-blocks": "off",
      "prefer-arrow-callback": "off",
      "prefer-destructuring": "off",
      "prefer-rest-params": "off",
      "prefer-template": "off",
      "quotes": "off",
      "quote-props": "off",
      "semi": "off",
      "space-before-function-paren": "off",
      "space-in-parens": "off",
      "vars-on-top": "off"
   }
}
